<div class="row">
  <h3>Search</h3>
  <form #movieSearch="ngForm" (ngSubmit)="onSearchMovies(movieSearch)">
    <div class="form-group">
      <input type="text" name="movie" id="movie" class="form-control" placeholder="Search for a movie here!" ngModel required>
    </div>
    <button type="submit" class="btn btn-success col-12" [disabled]="!movieSearch.valid">Submit</button>
    <button type="button" class="btn btn-primary col-6" (click)="onNowPlaying()">Now Playing</button>
    <button type="button" class="btn btn-primary col-6" (click)="onComingSoon()">Coming Soon</button>
  </form>

</div>
<hr>
<div class="row">
  <div *ngIf="isLoading" style="text-align: center;"><app-loading-spinner></app-loading-spinner></div>
  <div *ngIf="!isLoading">
    <div *ngFor="let movie of movies">
      <a class="list-group-item clearfix movie" [routerLink]="[movie.id]" routerLinkActive="active">
        <span class="pull-left">
          <img src="{{movie.image}}" alt="movieImg">
        </span>
        <div class="pull-right list-group-item-heading">
          <h4>{{movie.title}}</h4>
          <p style="margin-left: 0.7em;">{{movie.description}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
